@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Estilos base */
.montserrat {
  font-family: "Montserrat", sans-serif;
}

/* Pesos */
.montserrat-thin {
  font-weight: 100;
}
.montserrat-extralight {
  font-weight: 200;
}
.montserrat-light {
  font-weight: 300;
}
.montserrat-regular {
  font-weight: 400;
}
.montserrat-medium {
  font-weight: 500;
}
.montserrat-semibold {
  font-weight: 600;
}
.montserrat-bold {
  font-weight: 700;
}
.montserrat-extrabold {
  font-weight: 800;
}
.montserrat-black {
  font-weight: 900;
}

/* Estilos adicionales */
.montserrat-italic {
  font-style: italic;
}
.montserrat-bold-italic {
  font-weight: 700;
  font-style: italic;
}
.montserrat-light-italic {
  font-weight: 300;
  font-style: italic;
}
